<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Разработка интернет-магазина</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pg.css') }}">
</head>

<body>
    <header>
        <h1>Проект: Разработка интернет-магазина</h1>
        <p>Современный подход с использованием React и Node.js</p>
    </header>

    <div class="container">
        <section class="about-project">
            <h2>О проекте</h2>
            <div class="project-details">
                <div class="project-text">
                    <p>
                        Этот проект представляет собой разработку интернет-магазина, который позволяет пользователям
                        покупать товары, управлять корзиной, просматривать рейтинги и отзывы. Веб-приложение было создано
                        с использованием React для фронтенда и Node.js для бэкенда.
                    </p>
                    <p>
                        Мы реализовали интуитивный интерфейс, адаптивный дизайн и систему управления пользователями.
                        Поддерживается полная интеграция с платежными шлюзами.
                    </p>
                </div>

            </div>
        </section>

        <section class="features">
            <h2>Основные возможности</h2>
            <div class="feature-list">
                <div class="feature-item">
                    <img src="https://ready.kz/upload/iblock/ef5/lyyt4rr0qgpp049hkm1ii1jh55xpc0dz.jpg" alt="Каталог товаров">
                    <h3>Каталог товаров</h3>
                    <p>Удобный поиск и фильтрация по категориям.</p>
                </div>
                <div class="feature-item">
                    <img src="https://pos-center.ru/img/journal/kassa-dlya-dostavki-osobennosti-i-podhodyaschie-modeli-1.jpg" alt="Оплата товаров">
                    <h3>Оплата товаров</h3>
                    <p>Поддержка различных способов оплаты.</p>
                </div>
                <div class="feature-item">
                    <img src="https://scaud.info/storage/app/media/uploaded-files/Renessans_Kapital_9.jpg" alt="Отзывы пользователей">
                    <h3>Отзывы пользователей</h3>
                    <p>Пользователи могут оставлять отзывы и оценивать товары.</p>
                </div>
            </div>
        </section>

        <section class="tech-stack">
            <h2>Технологии</h2>
            <div class="tech-list">
                <div class="tech-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" alt="React">
                    <h3>React</h3>
                    <p>Для создания интерфейса приложения.</p>
                </div>
                <div class="tech-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="Node.js">
                    <h3>Node.js</h3>
                    <p>Для серверной части и обработки данных.</p>
                </div>
            </div>
        </section>


        <section class="contact">
            <h2>Свяжитесь со мной</h2>
            <p>Напишите мне, если хотите сотрудничать или просто задать вопрос где я ворую работы.</p>
            <p>Email: <a href="mailto:1@1.com">1@1.com</a></p>
            <p>GitHub: <a href="https://rutube.ru/video/c6cc4d620b1d4338901770a44b3e82f4/">Мой GitHub</a></p>
            <a href="/index" class="back-button">← На главную</a>
        </section>
    </div>

    <footer>
        <p>© 2024 не мое портфолио. Все права не защищены.</p>
    </footer>
</body>

</html>
